[2014-11-22 17:12] TomasVotruba opened #17 "Add neon support"
Similar to issue #16. Syntax here: http://ne-on.org/
It's made by/for [Nette framework](https://github.com/nette/nette).
These both issues would make this package usable for almost every framework.

I'd be for standalone repositories with suggestion in composer:
- `noddlehaus/config-yaml`
- `noddlehaus/config-neon`

I can send PR for this support.

[2014-11-24 22:49] hassankhan commented on #17
I must say, I've not heard of neon before. Is it widely used by anyone other than Nette?

[2014-11-24 23:21] TomasVotruba commented on #17
Not in my knowledge. If that's the requirement, it can be closed.

[2014-11-24 23:26] hassankhan commented on #17
I'll let @noodlehaus decide :wink:

[2014-11-25 01:57] noodlehaus commented on #17
hi @TomasVotruba, so far the formats that we have in are the commonly used ones. would extending the class and adding the desired support be enough? or do we need to provide a way of injecting support for other formats? also, do we want this to get bigger?

[2014-11-25 12:19] TomasVotruba commented on #17
@noodlehaus I think popularity isn't insurance of best quality. This would allow to adopt this package by Nette community.
I see the package is trying to be minimalistic, and this would require adding at least one new class.

I'm wondering... I would not personally use it, so I'd wait if someone else would have the need (week or so), or close it otherwise.

[2015-01-23 14:28] pokoot opened #18 "Request: Enhancement (Multiple File load)"
If possible.

[code]

If possible and you have enough time.

Thanks in advance. Kim of Cebu/Singapore ^_^

[2015-01-23 16:26] hassankhan commented on #18
Interesting ... but what if there are two config options with the same name? What would happen in that case?

[2015-01-24 04:27] noodlehaus commented on #18
hi @pokoot. thanks for the suggestion. @hassankhan can we make newer keys overwrite existing ones, to keep it simple and predictable?

[2015-01-24 12:56] hassankhan commented on #18
Totally agree, we should also make it clear in the readme too.

[2015-01-24 18:41] VeeeneX commented on #18
And what about connecting two Config files?

[2015-01-26 05:38] noodlehaus opened #20 "Change the namespace?"
I don't know, Noodlehaus seems to be a really lousy namespace for this, and makes it a bit hard to take the package seriously.

[2015-01-26 09:20] hassankhan commented on #20
Do you really think so? I quite liked it :grin: Ideas/suggestions?

[2015-01-26 09:26] DavidePastore commented on #20
I also like it. I think that it is ok. :v:

[2015-01-26 14:37] noodlehaus commented on #20
i see, ok :D no issue then hehe.

[2015-02-21 15:16] Zyles opened #22 "Support .yml?"
I see you need to explicitly name your files .yaml and not .yml for this to work.

But a lot of frameworks, like Symfony use .yml for some reason.

Maybe add support so it works with both?

[2015-02-21 15:43] Zyles opened #23 "Setting a value?"
I can't seem to update value in a file, what am I doing wrong?

[code]

I can return the get value so the file is readable etc. But it wont update the value in the file.

[2015-02-21 16:55] hassankhan commented on #23
By design, Config won't overwrite a text file, it will only overwrite that value in-memory.

[2015-02-21 16:55] #23 closed, assigned to nobody

[2015-02-21 16:56] hassankhan commented on #18
This now works

[2015-02-21 16:56] #18 closed, assigned to nobody

[2015-02-21 19:10] hassankhan commented on #22
Added in my `develop` branch, will do a release shortly, thanks for pointing that one out!

[2015-02-21 19:10] #22 closed, assigned to nobody

[2015-02-21 19:16] hassankhan commented on #20
I have a suggestion ... maybe we could move the package to [The PHP League](https://github.com/thephpleague/), I'm sure we check all the boxes.

[2015-02-21 20:09] DavidePastore commented on #20
For me it is indifferent, but we have to create an auto redirect from this repo. Anyway I think that this could remain here.

[2015-02-21 20:21] hassankhan commented on #20
Pros:
- More exposure: both in terms of users and contributors

Cons:
- Namespace change (already done [here](https://github.com/hassankhan/config/tree/feature/thephpleague))
- Repo move

[2015-02-22 02:31] noodlehaus commented on #20
That's a great idea!

With regards to the redirect, once we transfer the source tree under the league, the redirect will automatically happen (covered by github).

As for the check list, wrt the `Changelog`, will the commit history stand for this?

Can I just create a branch called `league` and we do all the pulls against that one for this effort?

[2015-02-22 05:17] jenolan opened #25 "Symfony Yaml::parse File input deprecated"
Recommend just adding a file_get_contents for the file and feed the returned text into the method.

[2015-02-22 12:06] hassankhan commented on #25
Thank you very much for bringing this to our attention :+1:

[2015-02-22 12:09] hassankhan commented on #20
I've already done the necessary work, I think, just a case of applying to the League. Would you like to send the email to their mailing list or should I?

With respect to the changelog, I think we don't need to have one ready right now (though we could). I think the commit history isn't quite specific enough, all we really need to do is pull significant commit messages really.

Instead of maintain

[2015-02-22 12:29] hassankhan commented on #20
Draft email:
Package Proposal: Config

Hi all,

We're collaborators on a simple Config package, and we think our package would fit in quite well with The League.

https://github.com/noodlehaus/config/

What It Does

Config is a file configuration loader that supports PHP, INI, XML, JSON, and YAML files. Files are parsed and loaded depending on the file extension.

What Makes It Different
It is by

[2015-02-22 13:01] noodlehaus commented on #20
Awesome, great. you can go ahead and apply for the package, Hassan. Then if anything needs to be done, let's file the tasks as tickets so we can pick and clear them one by one.

Added collaborator status to @DavidePastore.

[2015-02-22 13:07] hassankhan commented on #20
[Done](https://groups.google.com/forum/#!topic/thephpleague/J5YIWHzGwFk). Let's see what they say :fearful:

[2015-02-22 13:39] hassankhan commented on #17
Is there a lot of Nette users who want this? It seems trivial to add (just adding [another parser](https://github.com/nette/neon)) but again, only if the community wants/needs it. Leaving this open for another week or so, then closing.

[2015-02-22 13:49] hassankhan opened #26 "Future stuff"
- [x] [Add a `ConfigInterface`](#issuecomment-75448495)
- [x] [Break file loaders into separate classes, implementing `ConfigLoader` interface](#issuecomment-75453223)
- [x] ~~[Check MIME type of file rather than extension](#issuecomment-75475359)~~
- [x] Add a simple(r) way of defining default options
- [ ] ~~[Add a proxy class](#issuecomment-75655076) ([shameless self-plug](https://github.com/ha

[2015-02-22 15:11] TomasVotruba commented on #17
Not really, so not an issue anymore.

[2015-02-22 15:11] #17 closed, assigned to nobody

[2015-02-22 15:24] #25 closed, assigned to nobody

[2015-02-22 15:40] noodlehaus commented on #26
Added item 2, but are you referring to the same thing with item 1?

[2015-02-22 17:43] hassankhan commented on #26
Haha that's so cool, I was literally thinking the same thing with item 2.

A `ConfigInterface` would simply be useful for IoC containers, just seems best practice to do nowadays, I haven't given it much thought as yet though.

[2015-02-22 17:51] hassankhan opened #27 "Tag latest master as 0.2.1?"
With the README.md update and all, shall we?

[2015-02-22 18:06] hassankhan commented on #26
#### Add a ConfigInterface

Quick followup:

So anything that implements `ConfigInterface` must have a `get()` and a `set()` method. We take that a step further with `AbstractConfig`, which actually implements those methods, along with the `ArrayAccess` ones too. This gives us a nice base object without any file-related stuff.

Finally, our usual `Config` class now extends `AbstractConfig`, and ad

[2015-02-22 18:35] #27 closed, assigned to nobody

[2015-02-22 19:39] hassankhan commented on #26
#### Break file loaders into separate classes, implementing ConfigLoader interface

Each file type we support implements `FileInterface`, and we have `Php`, `Json`, `Xml`, `Yaml` and `Ini` file loader objects now.

Again, no outwards-facing changes and no test breakages.

[2015-02-22 21:54] hannesvdvreken commented on #20
I'm pretty sure [thephpleague](https://github.com/thephpleague) will ask to drop PHP 5.3 support. Are you ready to do that?

[2015-02-22 22:12] hassankhan commented on #26
#### Add Scrutinizer

I've added all necessary stuff to the `develop` branch, just need @noodlehaus to go [here](https://scrutinizer-ci.com/g/new) and add the repo :wink:

[2015-02-22 23:21] noodlehaus commented on #20
should be no issue dropping 5.3. we could either drop 5.3 entirely, or supportit unofficially.

[2015-02-23 00:14] hassankhan commented on #20
Yeah we can just tag a release as the last supported version for PHP 5.3, no probs.

[2015-02-23 00:33] hassankhan commented on #26
#### Check MIME type of file rather than extension

This is trickier than I thought, mainly because PHP's MIME detection is shit. From my tests, everything except `.php` files are detected as `text/plain`, which doesn't really tell us much. Could potentially use both as a 'best guess' solution.

[2015-02-23 00:40] noodlehaus commented on #26
Also need to add a line item for updating the contributors list. And contribution guidelines -- specifically, add yourselves to the contributors in the composer.jdon file 😄

[2015-02-23 00:46] noodlehaus commented on #26
yup, the mime detection is not reliable. If we can't reliably do it, i'd opt for keeping it off instead, and we just stick to creating different loaders.

parsing by file extension is simpler, and maybe just add a method for force loading a file as a certain format (example use is for .rc files).

[2015-02-23 00:46] hassankhan commented on #26
Would you be opposed to using Gulp as a task runner? It's pretty useful :smile: It would also make adding contributors to the composer.json file a breeze (or at least make it a lot easier to do).

[2015-02-23 00:47] hassankhan commented on #26
That's the other thing I should probably add to the list, file extension aliases. We already have one (YML/YAML) and right now it's hardcoded which probably isn't the best idea. How should we go about this? Perhaps add something in each file class, a list of allowed file extensions?

[2015-02-23 00:53] noodlehaus commented on #26
not so sure about gulp though we use it at work. if we do use it, we keep it off dist via gitattribs.

the yml/yaml case is okay. for everything else, i say we allow users to just specify the format/loader they want to use with the load method or via the constructor. Going to do a sample when I get to my desk.

[2015-02-23 01:00] hassankhan commented on #26
Only would be using Gulp for PHPCS and PHPUnit, could then add a `release` task which gets a list of contributors (and their emails) from GitHub's API and adds them into composer.json.

I'm not quite sure what you mean, but I'll wait for that code sample :+1:

[2015-02-23 02:57] noodlehaus commented on #26
The repo's been added to scrutinizer.

[2015-02-23 04:46] hassankhan commented on #26
#### Add extension aliases

`Config` now has a private property `$supportedFileLoaders`:

[code]

[2015-02-23 04:52] mechastorm commented on #20
Really excited to see if this makes it into the PHPLeague - its a package that is so useful and essential in any app I feel.

[2015-02-23 11:02] hassankhan commented on #26
Hi @noodlehaus, quick question, is Scrutinizer enabled for all branches? It's not updating when I push to `develop`

[2015-02-23 13:42] noodlehaus commented on #26
have just enabled it on develop as well. should work now.

[2015-02-23 14:12] hassankhan commented on #26
#### Get some nice documentation in

So in terms of code, all that's remaining is a static proxy class (I'll probably finish that off at home later today). Now it's documentation time, I think.

Personally I was thinking using [this repo](https://github.com/thephpleague/theme.thephpleague.com) to get it going, thoughts?

[2015-02-23 20:04] hassankhan opened #31 "Time for a new release?"
Should have probably incremented as we ticked off items from #26. Opinions on skipping a few minor versions and going to 0.9?

[2015-02-23 22:05] hassankhan commented on #20
Thanks for the kind words!

Just wanted to post this here: https://github.com/thephpleague/thephpleague.github.io/wiki/Package-Submission

[2015-02-23 22:49] hassankhan commented on #26
#### Add a proxy class

So, I tried and I failed, simply because we need `$path` to be provided to the constructor, which as it currently stands, we can't. Any way of doing it right now would probably require shifting code from `__construct()` to a new method (`loadFile($path)`?) or at least a new mechanism for setting the path independently of the constructor. Actually, this gives me another idea

[2015-02-23 22:56] hassankhan commented on #31
Or, alternatively, can just merge specific commits from `develop` into `master` and tag those? Going by number of significant changes, we'll be up to 0.7

[2015-02-24 01:19] noodlehaus commented on #31
Yes we can pick some of develop into master instead, and tag. Not able to do much atm as work is eating me up.

[2015-02-24 03:12] noodlehaus commented on #26
Moving things out of the constructor is a good idea. We're doing too much in it. Also, I'm thinking we should move the actual file reading out of the `Config` class, and have just one method that accepts a loader instead. Something like:

[code]

With this, the lazy loading of the file contents will be contained in the loaders.

But looking at this, it can further be simplified if it just accepted

[2015-02-24 09:18] DavidePastore commented on #20
@hassankhan Good job! :dancer:

[2015-02-24 10:23] hassankhan commented on #31
No worries, I'm happy taking care of it :+1:

[2015-02-24 10:36] hassankhan commented on #26
That would definitely be a breaking change, but probably a good one overall. This definitely makes the library follow DI rules better (right now the `$loader` is instantiated inside the constructor.

I'll work on a PoC patch that simplifies `__construct()` and changes it to how you have above.

[2015-02-24 10:37] hassankhan commented on #20
Thanks @DavidePastore!

[2015-02-24 20:09] hassankhan commented on #26
#### HHVM support

Currently one test [is failing](https://travis-ci.org/noodlehaus/config/jobs/52027342) (something about INI files). It's probably worth the effort to fix it, just cos :wink:

[2015-02-24 20:58] hassankhan commented on #26
Relating to `__construct()`, I might change the method signature to accept an array of loaders as its' second argument: `__construct($path, $loaders)`

This way, for now, we can keep BC and and allow a user to define a list of loaders they want, if none are specified then we use the defaults. Sound good?

[2015-02-24 21:02] hassankhan commented on #20
Pinging everyone: been a few replies to the email thread, not thought of a response yet but input is very welcome. Thanks!

[2015-02-24 22:06] djmattyg007 opened #32 "symfony/yaml should be an optional dependency"
Not everyone is going to use YAML for configuration. symfony/yaml should be an optional dependency.

[2015-02-24 22:07] hassankhan commented on #32
Valid point, will fix this

[2015-02-24 22:23] hassankhan opened #33 "Optional paths"
[code]

If config.json isn't found, it won't throw an error.

[2015-02-24 22:32] hassankhan commented on #20
Also created a post [on Reddit](http://www.reddit.com/r/PHP/comments/2x0tzm/config_a_lightweight_configuration_file_loader/), feel free to weigh in!

[2015-02-24 22:32] #31 closed, assigned to nobody

[2015-02-24 22:33] hassankhan commented on #26
I think this thread's gone on long enough, gonna split out whatever's left into issues and continue from there :smile:

[2015-02-24 22:33] #26 closed, assigned to nobody

[2015-02-24 22:34] hassankhan opened #34 "Nicer documentation"
Personally I was thinking using [this repo](https://github.com/thephpleague/theme.thephpleague.com) to get it going, thoughts?

[2015-02-24 22:35] hassankhan opened #35 "HHVM support"
Currently one test [is failing](https://travis-ci.org/noodlehaus/config/jobs/52027342) (something about INI files). It's probably worth the effort to fix it, just cos :wink:

[2015-02-25 07:42] noodlehaus commented on #34
Should we proceed with this? It would be quite an effort, and we're not in the league yet, though I understand it can be used outside of the league.

[2015-02-25 09:40] hassankhan commented on #34
I think so, better documentation is always a good thing, and we can remove League-related stuff for now (and add it back in if Config is accepted)

[2015-02-25 10:13] DavidePastore commented on #34
I agree :+1.

[2015-02-25 22:05] hassankhan commented on #20
Got something ready, shall I post it here or somewhere in private?

[2015-02-25 22:30] hannesvdvreken commented on #20
What ready? In here is fine I guess. Keep communication open ;-)
On 25 Feb 2015 23:05, "Hassan Khan" notifications@github.com wrote:

[2015-02-26 19:06] hassankhan commented on #20
Okay, here it is:

Hi all,

First of all, thank you all for replying!

Honestly speaking, I hadn't seen Zend's package before (or heard of phpdotenv, cheers Jonathan). The only reason I stumbled into this package is because it showed up before zend/config on Packagist, and was exactly what I needed at the time (and the rest is history).

I had seen the Symfony one though, and I've gone back and lo

[2015-03-04 13:44] hassankhan commented on #20
If no-one else has anything to add, I'm going to post the reply above to the mailing list when I get home tonight. Thanks!

[2015-03-15 21:17] #32 closed, assigned to nobody

[2015-03-19 01:40] ti0rafa opened #37 "Defaults not loading"
It seems that the Config class is missing an array_merge() like the AbstractConfig does.

Right now if I add a default configuration, it will get ignore since $this->data is not merge with the getDefaults() method.

[2015-03-19 14:13] hassankhan commented on #37
Do you have any example code that doesn't work?

[2015-03-19 14:15] hassankhan commented on #37
If you're creating an object to hold default values, you should be extending `AbstractConfig` directly. That said, I think I know how to fix it

[2015-03-20 00:57] ti0rafa commented on #37
Do you still need an example?.

If I extend from `AbstractConfig` then the constructor doesn't load the config file (JSON, etc), that logic is on the `Config` class. Thats why im extending directly from `Config`.

I wanted to do this: create a class with the default values, then load a config file. If a value was not set in the file then it will just load what ever default it had in the created cl

[2015-03-20 14:29] hassankhan commented on #37
You make a fair point, I'll push a fix live later

[2015-03-20 19:45] ti0rafa commented on #37
Thanks, I'm looking forward to it.

[2015-03-20 22:28] hassankhan commented on #37
Could you try again using the `develop` branch?

[2015-03-21 00:06] ti0rafa commented on #37
Cool its working now, thanks

[2015-03-21 10:01] hassankhan commented on #37
Awesome, I'll tag a new release then :)

[2015-03-21 10:01] #37 closed, assigned to nobody

[2015-03-21 10:55] #33 closed, assigned to nobody

[2015-03-31 06:39] Zyles opened #38 "Symfony yaml error"
After you changed the namespace I uninstalled the old one and installed this I am getting an error in my logs:

[:error] [pid 15040] [client 127.0.0.1:59912] PHP Fatal error:  Class 'Symfony\Component\Yaml\Yaml' not found in /home/httpd/myapp/vendor/hassankhan/config/src/FileParser/Yaml.php on line 29

So I installed it with:

composer require symfony/yaml ~2.5

But I still get the same error.

Wh

[2015-03-31 07:06] Zyles commented on #38
Seems like it was an opcache problem or something.

[2015-03-31 07:06] #38 closed, assigned to nobody

[2015-04-02 11:15] gustavohenke opened #39 "Environment support"
Hey,
I'm a Node.js developer which needs to program an app using PHP for college! So I thought of using this config manager, which is very alike with [node-config](https://www.npmjs.com/package/config).

But I want to override a few options with environment variables, because of Heroku, for example. node-config allows me to do this via an special [`custom-environment-variables` configuration](http

[2015-04-04 13:40] hassankhan commented on #39
Hi, I was thinking of some sort of integration with [phpdotenv](https://github.com/vlucas/phpdotenv) but I'm not quite sure how. Do you have any examples of how you'd like to use it?

[2015-04-12 02:02] gustavohenke commented on #39
That's how it works with that Node module:

**custom-environment-variables.yml**

[code]

Then, my `db.username` and `db.password` configs are overriden by Codeship env vars, and `db.url` is overriden by Heroku env vars.

[2015-05-04 15:03] codecowboy opened #40 "Autoloader not working"
I have installed via composer and am including the autoloader but I'm getting the following error:

Class 'Config' not found

autoload_psr4.php contains:

[code]

[2015-05-04 15:09] codecowboy commented on #40
Had to add `use`` statement for Noodlehaus namespace. You should probably add that to the docs.

[2015-05-04 15:09] #40 closed, assigned to nobody

[2015-05-08 15:15] hassankhan commented on #39
This seems a bit overkill for this package, because (AFAIK) we'll have to check the value of each configuration value to see if it matches an environment variable. I hope I'm wrong and there's a better way of doing it.

[2015-05-29 07:55] Zyles opened #42 "Cache"
Does this support caching?

I use YAML files extensively but parsing the YAML files on every request becomes costly.

Symfony for example caches the YAML config files so it would be nice if this could do it as well rather than building my own cache solution.

[2015-05-29 09:12] hassankhan commented on #42
No, sorry, it's out of scope for this project :smile:

[2015-05-29 09:12] #42 closed, assigned to nobody

[2015-06-23 03:28] tomzx commented on #35
when `parse_ini_*` is called in hhvm, if an error occurs during parsing, this error is not available to `error_get_last`.

I've filled https://github.com/facebook/hhvm/issues/5526 to track the issue.

[2015-06-23 08:55] hassankhan commented on #35
Hi, thanks for filing an issue. Let's see what they say :smile:

[2015-06-24 17:43] tomzx opened #44 "[Yaml] Warnings emitted if configuration file is empty"
When constructing a new Config object, if the target file is empty, the following two warnings are emitted:

[code]

https://github.com/hassankhan/config/blob/b7ab317fadaf6cee0e3bcd48367b964c00db4482/src/Config.php#L65

[code]

This is due to the fact that the Yaml parser will return null if the file is empty (thus not an array). An "easy" fix would be to cast the result of $parser->parse($path) t

[2015-06-30 09:49] mikeymike opened #46 "Use case for PHP config return callable?"
Just creating this issue based on [PR 43](https://github.com/hassankhan/config/pull/43) :smile:

I'm not sure what the benefit is to being able to return a callable when including the PHP config. We would be able to do any logic within the file before returning an array.

Personally the only time I can see this being valid is if we was going to pass a param in when invoking.

Obviously changing th

[2015-06-30 09:52] hassankhan commented on #46
I guess a use-case would be if you wanted to determine certain config parameters ahead-of-time, say you want to check for an extension, and then set a config value to true or false.

What kind of parameter would you pass into it?

[2015-06-30 10:06] mikeymike commented on #46
I'm not sure what you could pass through, as I'm not actually sure what's available at that point. But looking at it, there doesn't seem to be any benefit as for example ...

[code]

or

[code]

I'm pretty sure these would have the same outcome.

maybe if it was more like this I would see a benefit, but I'm not entirely sure how this would be implemented or what benefit it would have.

[code]

[2015-06-30 10:19] hassankhan commented on #46
Hmm, actually you do make a very good point. I'm not sure how many people use callable functions as their config packages, I've personally never used them. What would you recommend we should do?

[2015-06-30 10:26] mikeymike commented on #46
Regardless if many people are using it, it is still a BC break so would need a major version bump if removed. Looking at Packagist there's currently been 6,000+ installs any of which could be dependant on this functionality.

I'd probably say create a `1.0.0` milestone and note it for removal or potentially look into whether there can be any data passed into the callable that would be beneficial.

[2015-06-30 10:28] hassankhan commented on #46
Yep, sounds fair. I do have an idea for a potential use-case: say I'm loading multiple files, perhaps I want to check the current config before I set any values. In that case, the current config could be passed over to the new config callable. Does that sound acceptable?

[2015-06-30 10:35] mikeymike commented on #46
Yup that sounds like a fair use case, although at a glance I'm not sure how easy it would be to implement.

Maybe [at this point](https://github.com/hassankhan/config/blob/master/src/Config.php#L65) passing `$this->data` into the parse method, making it an optional param in the [interface](https://github.com/hassankhan/config/blob/master/src/FileParser/FileParserInterface.php#L23) and then the par

[2015-06-30 10:41] hassankhan commented on #46
Yep, that's exactly what I was thinking

[2015-06-30 12:42] mikeymike commented on #46
Looked into this a bit more. Passing it through as mentioned works fine. But the more I look at it I question the use case. Config is ideally static data so doing conditional logic based on currently loaded data seems out of scope. Let me know what you think.

[2015-06-30 13:51] hassankhan commented on #46
To be completely honest, I agree, it is kind of out-of-scope. I'd leave it as-is for now, and we can revisit it for a potential 1.x release at some point

[2015-07-02 21:44] DavidePastore commented on #44
Nice catch! Can you create a PR with this check (and a related test)?

[2015-07-17 06:47] ntd1712 opened #48 "Return an array of the configuration items to use with var_export?"
For example:

[code]

[code]

[2015-07-25 13:57] ntd1712 opened #49 "Wrong @return Noodlehaus\File\FileInterface ..."
Please check here https://github.com/hassankhan/config/blob/master/src/Config.php#L76
It's the "Noodlehaus\FileParser\FileParserInterface" instead of the "Noodlehaus\File\FileInterface", right?

[2015-07-25 14:36] DavidePastore commented on #49
Yes, I think you're right. Can you build a PR on this?

[2015-07-26 02:03] ntd1712 commented on #49
What does PR mean? You meant "public repo", right?
Actually, it still works fine, I need do nothing. All the rest things are based on them.

[2015-07-27 16:14] DavidePastore commented on #49
What I mean with PR is Pull Request. You can fork the project, edit the file and send us a pull request that we will be happy to merge.

[2015-07-28 02:40] ntd1712 commented on #49
:+1:

[2015-08-17 15:58] DavidePastore commented on #48
Added in https://github.com/hassankhan/config/commit/f528bcbf98e7d229c8afa0b40998ec5a5b6ee275

[2015-08-17 15:58] #48 closed, assigned to nobody

[2015-09-01 19:48] DavidePastore commented on #49
Closed in c29e3c58ffbe1690a1c115c1892727596b322672

[2015-09-01 19:48] #49 closed, assigned to nobody

[2015-09-01 20:17] #44 closed, assigned to nobody

[2015-10-15 16:27] VinceG opened #51 "Load from string?"
Was this discussed before? i couldn't find an issue about it.

Loading an XML from string will be beneficial since sometimes we don't have a file saved on the file system to load.

[2015-10-17 13:53] DavidePastore commented on #51
I agree with you, it could be a nice feature. What do you think @hassankhan?

[2015-10-19 09:34] hassankhan commented on #51
If I'm not mistaken, you could subclass `AbstractConfig`, and then parse the XML into an array yourself and pass it into the constructor method. We _could_ support it - just not sure a lot of people need the functionality :smile:

[2015-10-22 12:00] ftwbzhao opened #55 "Remove Cache Property?"
## Demo Code

[code]

[2015-10-22 12:54] hassankhan commented on #55
Sorry, I'm not quite sure what you mean. Could you explain the issue a bit more clearly? Thanks

[2015-10-23 01:43] ftwbzhao commented on #55
[code]

[2015-10-23 09:38] hassankhan commented on #55
Ah right I understand now - good catch! No idea how to fix it, but let's definitely give it some thought.

[2015-11-29 23:25] kwhat opened #59 "Cannot easily chain config object data."
Hi, I was wondering if [src/Config.php#L55](https://github.com/hassankhan/config/blob/master/src/Config.php#L55) was an oversight? It makes inheriting the previous config more difficult that it should be:

[code]

The only other thing I can think of is re-implementing the entire Noodlehaus\Config class.

[2015-11-30 10:25] hassankhan commented on #59
Well, the idea was that if you need a specific Config object with preset defaults, then you should extend `AbstractConfig`.

[2015-12-01 23:06] kwhat commented on #59
That's what I ended up doing.  Feel free to close as question.  Thanks.

[2015-12-28 17:46] DavidePastore commented on #55
It's fixed in the `develop` branch.

[2016-01-06 05:41] ftwbzhao commented on #55
If the middle of the key changed.

[code]

[2016-01-06 19:21] DavidePastore commented on #55
Thanks for the report @ftwbzhao. It should work now.

[2016-01-07 15:21] tobsn opened #62 "method to get all config vars as an array"
something like $conf->getAll() and return an array - I need that atm for debugging

[2016-01-17 20:03] nochso opened #63 "Yaml parser doesn't work with symfony/yaml 3.0"
As of 3.0 symfony/yaml's `Yaml::parse()` doesn't accept a file path any more, thus is currently unusable.

Happened to me and it did not throw an exception, as symfony/yaml happily parsed the file path apparently.

[2016-01-17 20:07] nochso commented on #63
nvm, this has already been fixed.

The package I was using had an outdated requirement..

[2016-01-17 20:07] #63 closed, assigned to nobody

[2016-01-17 20:15] nochso opened #64 "Tag a new release"
Hi, so this just bit me: https://github.com/hassankhan/config/pull/41

Could you please tag a new release so Composer starts seeing this change?

Thank you.

[2016-01-17 20:35] nochso opened #65 "Get all supported extensions"
A new public method `getSupportedFileExtensions` that returns the collected extensions of all parsers.

This would make it easier to scan directories only for supported file types.

Edit: If that's too specific, a `getSupportedFileParsers` would be fine too :)

I'm happy to implement either, just looking for feedback first.

[2016-01-17 20:57] nochso commented on #62
:+1: was surprised to see this missing

[2016-01-23 21:26] #55 closed, assigned to nobody

[2016-01-23 21:34] hassankhan commented on #64
Just tagged a new release, sorry for the delay, life got in the way :smile:

[2016-01-23 21:34] #64 closed, assigned to nobody

[2016-01-23 21:35] hassankhan commented on #62
Added in the latest release, closing the issue now

[2016-01-23 21:35] #62 closed, assigned to nobody

[2016-01-23 21:36] hassankhan commented on #65
I think a `getSupportedFileParsers()` would be ideal, since we could check if those classes exist.

[2016-01-23 21:37] hassankhan commented on #39
Just an update, this can be done in PHP using the [dotenv](https://github.com/vlucas/phpdotenv) package - still not sure about other file formats though

[2016-01-23 22:53] nochso commented on #64
Thanks :+1:

[2016-01-24 10:22] nochso commented on #65
Only the parsers themselves should have to figure out if they can currently support a file extension.

My suggestion:
- Add `isInstalled` to `FileParserInterface` or alternatively add a new optional interface `Installable`.
- `Config` can now avoid using parsers that are not currently useable like the YAML parser.

What do you think? The interface would be more backwards compatible I guess, but th

[2016-02-11 04:21] tomzx commented on #20
Considering there's been no activity in this issue nor on the thread in the php league mailing list, should we assume `Config` will not be moved to a new namespace?

[2016-02-11 04:30] tomzx commented on #35
It's been about 6 months now and the issue hasn't been acknowledged. It's probably safe to assume it won't be fixed anytime soon.

I suggest we make ini parsing disabled on hhvm until then. This would mean updating the test suite to skip the related tests if executed under hhvm.

[2016-02-11 16:09] hassankhan commented on #20
Yeah they didn't seem too keen on it, but I don't think anyone is averse to changing the namespace if there's any better suggestions?

[2016-02-11 16:11] hassankhan commented on #35
Yep, agree with you - not quite sure how to do it though

[2016-02-11 16:18] tomzx commented on #35
In the related tests

[code]

To disable ini parsing, I guess we could simply filter the list of Config::$supportedFileParsers and remove it.

It might also be worthwhile writing a little test that will show that ini parsing will not work under hhvm (so that we may be advised if they ever fix it).

[2016-03-04 14:47] tmgast opened #73 "Request: Enhancement (group by file name when Multiple File load)"
Regarding an old issue [#18](https://github.com/hassankhan/config/issues/18):

It was asked how to handle when multiple config files share a variable name.

If you're loading in multiple config files, wouldn't it make more sense to contain each loaded file as its own array within the config container?

[code]

These should be accessible in the following way:

[code]

Currently, all the config opti

[2016-03-04 15:22] hassankhan commented on #73
Hi, currently it should work if you manually pass in each file to the constructor, passing directories is not currently supported. Good idea for the future though.

[2016-03-05 20:20] marcuschaplais commented on #73
@tmgast You can do this with https://github.com/m1/vars fyi

[2016-03-05 22:08] hassankhan commented on #73
As I said before, would be a great idea for the next version. Another idea is you could have a main `config.php` that is something like this:

[code]

[2016-03-08 22:29] hassankhan commented on #20
Sooooo ... I've set up a new [GitHub org](https://github.com/larabros) and I'm planning on moving it there, unless anyone has any objections?

[2016-03-08 22:38] hassankhan opened #74 "Wildcard matching for has() and get()"
[code]

The example is contrived, but I've needed something similar in a project already. Not quite sure how we're gonna figure it out though :confused:

[2016-03-08 22:40] hassankhan opened #75 "Set PHP 5.5.9 as minimum required version"
PHP 5.3 is ... outdated to say the least.

Since the library is fairly mature, I think maybe we should do any last tidy ups, then do a 1.0 release with 5.5.9 set. That way, anyone still using older versions can use <1.0 and still be fine (I think)

[2016-03-08 22:55] hassankhan opened #76 "Add remove() method"
**hides**

I _know_ we've talked about [this](https://github.com/hassankhan/config/issues/10) [before](https://github.com/hassankhan/config/pull/36), and I _know_ we decided it went against the spirit of the project etc.  **BUT** I think it may be time. :+1:

I have a use-case where I load a JSON representation of an access token from my Config, instantiate as an `AccessToken` and put it back. In

[2016-03-11 09:00] DavidePastore commented on #20
It's ok for me. What are the advantages? :smile_cat:

[2016-03-11 09:05] DavidePastore commented on #75
I think it's ok to change the minimum required version of PHP but is there a reason behind this choice?

[2016-03-11 12:18] hassankhan commented on #20
Not really any advantages, per se, just been waiting to do this a long time but didn't have a decent vendor namespace.

[2016-03-11 12:19] hassankhan commented on #75
Yep, reason being any version of PHP older than 5.5 are outdated, and users are not recommended to be running them.

[2016-03-11 14:52] hassankhan commented on #20
I guess one advantage would be everyone in the org is an allowed contributor, so lessens the burden overall maybe?

[2016-03-11 15:04] DavidePastore commented on #20
I agree! :+1:  Be free to do it when you want :dancer:

[2016-03-12 13:11] DavidePastore commented on #75
Let's do this :dancer:

[2016-03-12 18:52] DavidePastore commented on #76
I think that create a `remove()` method that simply remove the key would be a nice solution.

[2016-03-12 19:54] DavidePastore commented on #74
Yes, this one could be a solution for the given problem. Do you think that every `*` should be only for **one** position? What I mean is that it won't work for:

[code]

[2016-03-13 00:45] hassankhan commented on #76
Cool, then that's the way forward :+1:

[2016-03-13 16:21] hassankhan commented on #74
I think it **should** also work for both our examples. If we add something like this, we should be sure to document it well. Any thoughts on how to approach this code-wise?

[2016-03-14 10:58] DavidePastore commented on #74
[RecursiveArrayIterator](http://php.net/manual/en/class.recursivearrayiterator.php) will help us.
Take a look to [this solution](http://stackoverflow.com/a/33498542/1992780), it's exactly what we want:

[code]

[2016-05-13 14:02] 0x6B386F opened #78 "Broken tests"
PHPUnit 5.3.4 by Sebastian Bergmann and contributors.

Runtime:       PHP 5.6.20-0+deb8u1
Configuration: /home/onedal/devel/onedal/config/phpunit.xml.dist
Error:         No code coverage driver is available

...............................................F................  64 / 64 (100%)

Time: 121 ms, Memory: 12.25Mb

There was 1 failure:

1) Noodlehaus\FileParser\Test\JsonTest::testLoadInvalidJs

[2016-05-13 16:14] hassankhan commented on #78
According to [Travis](https://travis-ci.org/hassankhan/config), our tests are running fine. Can you check your environment please? Thanks

[2016-07-01 02:46] wl496928838 opened #80 "Please add a Sava to the file method"
Please add a Sava to the file method

[2016-07-13 15:21] hassankhan commented on #80
We specifically do not allow writing back to the file, the configuration file should be static. You could extend the `Config` class and allow for that yourself.

[2016-07-13 15:21] #80 closed, assigned to nobody

[2016-07-13 15:59] DavidePastore commented on #76
@hassankhan Can we consider closed this issue?

[2016-07-13 16:29] hassankhan commented on #76
Oh yeah, totally

[2016-07-13 16:29] #76 closed, assigned to nobody

[2016-07-21 10:44] aolko opened #84 "filtering?"
how to get an item, for example, where key = 1

[code]

[2016-07-21 13:59] hassankhan commented on #84
Sorry, can you explain with some more context? Not quite sure what you're asking

[2016-07-21 16:25] aolko commented on #84
select all the config items **where key = 1**

[2016-07-22 08:38] hassankhan commented on #84
Ahh okay, that is outside the scope of the project currently, I'm not aware of any plans to add it and personally don't think it is necessary. I'm open to changing my mind if @DavidePastore or any other contributors see value in adding it, though.

[2016-07-22 09:45] DavidePastore commented on #84
@hassankhan I agree with you, this seems unrelated to the project.

[2016-07-22 13:41] hassankhan commented on #84
Cool, thanks for your input @DavidePastore, sorry @aolko, it's just not something we see as useful for this project.

[2016-07-22 13:41] #84 closed, assigned to nobody

[2016-09-01 23:00] Zyles opened #85 "Support for tokens/parameters?"
Did I overlook something or is there support for using tokens with replace like Symfony does in config files.

For example you have a config file:

[code]

Then you have a file for example parameters.yml

[code]

Then you only need to replace the parameters.yml on each environment and keep one config file complete. Instead of having multiple config files you need to edit if you add or remove value

[2016-09-04 11:07] DavidePastore commented on #85
Hi @Zyles,
yes, you can do something like this. For example if you have

**config.yml**

[code]

and **parameters.yml**

[code]

you can just load them using the multiple files syntax:

[code]

In this example you'll preserve `api.limit` key and the config will just _overwrite_ all the already defined keys (`database.host`, `database.user` and `database.password`).

[2016-09-09 14:50] gbhorwood opened #86 "error parsing .ini files that contain zero parsable data"
running unit tests for my project which uses Noodlehaus\Config, i was presented with this error while attempting to parse an .ini file that contained no parsable content.

TypeError: Argument 1 passed to Noodlehaus\Exception\ParseException::__construct() must be of the type array, null given

this ocurred in php 7.0.8 with the content of the test .ini file being 'no parsable content'.

investigati

[2016-09-09 22:42] DavidePastore commented on #86
Hi @gbhorwood , thanks for your interest in the project. I really appreciate it. You're right about the issue. Nice catch!

[2016-09-11 11:54] DavidePastore commented on #86
Closed by #87 .

[2016-09-11 11:54] #86 closed, assigned to nobody

[2016-09-30 22:57] samrap commented on #73
You might want to take a look at https://github.com/samrap/gestalt .

It is a lot more flexible on how it loads configurations from files and even allows you to define custom loaders using an interface. It solves the multiple variable names by using the filename(s) as the root key(s) and nesting the values inside.

[2016-09-30 22:59] samrap commented on #46
You can do this with https://github.com/samrap/gestalt by defining [custom loaders](https://github.com/samrap/gestalt-docs/blob/master/loaders.md). Closure and class based loaders are supported:

[code]

[code]

[2016-10-12 07:05] Zyles commented on #85
Yes sure that kind of works. But I also have another use case which is a bit more advanced.

For example two modules from two different developers need access to the same variables. Instead of repeating the same information twice it would be nice if you could reference them inside config files.

Example scenario where two independent modules need access to the database and there is no default sett

[2016-10-12 07:20] DavidePastore commented on #85
@Zyles This has sense. The only problem with this is: how can I handle the case where I have a configuration file with the value of `"%module1.database.host%"` and I want it as a string?

[2016-10-12 18:52] Zyles commented on #85
@DavidePastore

Maybe if you enclose it in quotes?

[code]

[2016-10-12 19:43] nunocodex commented on #85
**SUGGESTION**

Sorry guys but is not much better pass the replacements on config costruct?

[code]

With dotted array `db.hostname` you can use in the yml file `%db.hostname%`.

This make more sense, if you want use yml file instead of simple php array you can parse with yaml the file `Yaml::parse('parameters.yml')`.

[2016-11-05 08:08] TiMESPLiNTER commented on #85
@namaless the problem with this solution would be that you can't define paramters inside a configuration file (if this is a requirement at all).

[2016-11-30 13:18] leroy0211 commented on #85
This should do the trick, I use this often and it's something like how Symfony does it.

`$content` contains the complete configuration array!

[code]

You should place this somewhere you loop through the configuration files.
This way all parameters are encapsulated inside a `parameters` key in the yaml file.

[code]

In case you don't want the parameters to be an array, drop the `foreach($content

[2017-01-23 19:00] jhalterman opened #89 "Support for merging duplicate keys in a config file"
I'm wondering if you'd consider adding support for merging duplicate keys in a config file. My use case for this is wanting to have multiple environment config sections in a file since it makes config easier to organize by functionality. Example:

[code]

Ideally, this would be merged when loaded to:

[code]

While I could just write my config fully merged by environment, with a lot of config and

[2017-02-07 05:48] lezhnev74 opened #90 "Lazy load supported?"
Hi!

From the README file it was not clear if it supported lazy loading.
Can I set the folder where all my config files are stored and include only those which were requested on runtime?

[2017-03-13 08:44] DavidePastore commented on #90
Hi @lezhnev74. Sorry for the delay. No, you can't set a folder and include only the config files that are requested. [Here](https://github.com/hassankhan/config/blob/06ac500348af033f1a2e44dc357ca86282626d4a/src/Config.php#L45-L73) you can see it loads all the files and parses all of them. Otherwise how would it be possible to know in advance in which file the given key config is?

[2017-03-13 08:44] #90 closed, assigned to nobody

[2017-03-27 12:15] DavidePastore commented on #89
Hi @jhalterman, sorry for the late reply. This is not supported because the yaml config reader ([Symfony Yaml component](https://github.com/symfony/Yaml)) takes the last value of the key and overwrites the old one. [The specification writes](http://yaml.org/spec/1.2/spec.html#id2759572):

Personally I'd prefer to use different files for different environments,

[2017-03-27 12:15] #89 closed, assigned to nobody

[2017-04-29 12:10] charan5551 opened #92 "i got file not found expection for config file"
[code]
this is was my code:
[code]

[2017-04-30 06:15] charan5551 commented on #92
this was the error i got

![capture](https://cloud.githubusercontent.com/assets/28190887/25562132/67eacdca-2d9a-11e7-8123-62bafc09e0ff.PNG)

[2017-04-30 06:20] charan5551 commented on #92
can you please respond any one for this error  i stucked in that  project due to error.plz help me i already added hassankhan/config
![capture](https://cloud.githubusercontent.com/assets/28190887/25562154/23c1c742-2d9b-11e7-8617-e978b1523cdf.PNG)
 this was the my total project
![capture](https://cloud.githubusercontent.com/assets/28190887/25562142/de2bd57e-2d9a-11e7-8cb7-80289e747737.PNG)

[2017-04-30 09:55] hassankhan commented on #92
From the screenshots you've provided, no file exists at `autentication/app/config/development.php`.

[2017-04-30 09:56] #92 closed, assigned to nobody

[2017-04-30 15:16] charan5551 commented on #92
Oh tq so much

[2017-04-30 15:16] charan5551 commented on #92
I wil see now

[2017-11-17 18:25] susannemoog opened #95 "Allow validation of json against a json schema file"
Hey and thanks for the library,

a nice addition could be to allow validation of the config against a defined schema file (for example via https://github.com/justinrainbow/json-schema).

Would you be interested in a pull request in that area?

Susi

[2018-01-01 05:25] fengkaijia commented on #51
There's indeed needs. E.g. when the config file has configurations for plugins, and we only want to pass part of the config to the plugin for isolation. So that would be like:

[code]

This is indeed just a class extends `AbstractConfig` without anything, but having it at config package is better than creating it at our own package.

[2018-02-10 18:24] DavidePastore commented on #95
Hi @psychomieze! Sorry for the late reply. Yes, a PR in this sense would be cool! 😄 But be sure to do it for the **develop** branch.

[2018-02-14 18:27] hassankhan commented on #95
My only worry with this is that it would require another dependency, and I'm not sure if it's something most users want (I could be completely wrong though).

Could we do it in such a way that it's an optional dependency for those who need it?

[2018-02-24 19:17] bfday opened #97 "Package depends on Symfony/Yaml but it is only suggest?"
This [file](https://github.com/hassankhan/config/blob/master/src/FileParser/Yaml.php) shows that this package requires Symfony\Component\Yaml\Yaml but it's only a suggest in composer.json
`
"suggest": {
        "symfony/yaml": "~2.5"
    },
`
is it ok? Seems that it's a requirement not only a suggestion.

[2018-02-24 21:03] DavidePastore commented on #97
Hi @bfday. `symfony/yaml` is used only when you need to parse YAML files. I think not everybody has this need, but in the case one has, we should explicitly indicate it. Maybe @hassankhan could give a more detailed explanation.

[2018-02-26 04:37] hassankhan commented on #97
Pretty much what @DavidePastore said - if a user needs to parse YAML files, they'd need to also install the `symfony/yaml` package, otherwise users would get an unnecessary package installed.

[2018-03-02 21:02] Potherca commented on #75
Any news on this?

[2018-03-03 12:05] #59 closed, assigned to nobody

[2018-03-03 13:43] DavidePastore commented on #75
Closed by #99.

[2018-03-03 13:43] #75 closed, assigned to nobody

[2018-03-03 16:25] DavidePastore commented on #97
Added a more explicit reference about the `symfony/yaml` requirement in #102.

[2018-03-03 16:25] #97 closed, assigned to nobody

[2018-06-10 08:02] rauwebieten commented on #39
If you use php as config file, you can load env variables like this:

[code]

[2018-06-25 10:09] baiy opened #105 "config file numeric keys reset"
config file:
[code]
print_r(Config::load($configFile)->all());

[code]

code tracking

[code]
array_merge:

[2018-06-25 12:38] wandersonwhcr commented on #105
I confirm that it happens. Another example:

[code]

[code]

[code]

[2018-06-25 12:44] wandersonwhcr commented on #105
I don't know if this is the expected behavior, but when we use numbered indexes, we must append and not merge, right?

[2018-06-25 12:51] wandersonwhcr commented on #105
Same test with `Zend\ConfigAggregator`:

[code]

[2018-06-27 08:14] baiy commented on #105
I think it needs to be merge/covere and the index is not changed

[2018-06-27 12:11] wandersonwhcr commented on #105
Example:

[code]

[code]

In this case, if we merge, we'll have some problems, right?

[2018-06-27 13:51] hassankhan commented on #105
This is intentional and mentioned on the [README.md](https://github.com/hassankhan/config#loading-files):

[2018-06-29 11:28] #105 closed, assigned to nobody

[2018-07-01 17:52] filips123 opened #107 "Add support for writing configuration files"
Add support for writing configuration files. This would be useful so developers could make user-friendly installers for configuration files.

For INI, XML, JSON, YAML and [other formats](https://github.com/hassankhan/config/issues/106), this should not be hard, because they already support writing. For PHP files, this could be harder.

**Example of writing config from start:**
[code]

**Example of

[2018-07-01 18:32] filips123 opened #108 "Add support to read from string"
Add support for reading from strings and [writing to](https://github.com/hassankhan/config/issues/107) strings instead of files. This could be done with methods` fromString($format, $data)` and `toString($format, $data)`.

Note that the format parameter should be case insensitive.

**Example of reading:**
[code]

**Example of writing:**
[code]

[2018-07-23 10:39] filips123 opened #110 "Update PHPUnit"
Update tests to new PHPUnit namespaced syntax.

Currently, tests are wrote in old syntax and with PHPUnit 4 which is not supported any more. Another problem is, that tests wont work in PHP 7.2.

You should use PHPUnit 4.8.36 and later, because it has forward compatibility with namespaced syntax.

[code]

See https://stackoverflow.com/questions/50895826/testing-old-php-versions-with-phpunit-7 for d

[2018-07-24 09:58] filips123 commented on #51
I've created pull request #111 for loading from string.

[2018-07-24 09:58] filips123 commented on #108
I've created pull request #111 for loading from string.

[2018-07-24 10:14] filips123 commented on #110
Also, there are some problems with configuration file:

[code]

[2018-10-03 20:28] #51 closed, assigned to nobody

[2018-10-03 20:28] #108 closed, assigned to nobody

[2018-10-03 20:28] #110 closed, assigned to nobody

[2018-10-04 03:47] jfcherng opened #113 "[2.0] __DIR__ in PHP file gets wrong path"
In my `PROJECT_ROOT/config/app.config.php`:
[code]

Now `__DIR__` is evaluated to `PROJECT_ROOT/vendor/hassankhan/config/src/Parser` due to the `eval()` in
https://github.com/hassankhan/config/blob/f33748ba6b2d2353e4c93ad830bfb26a2a00d2b2/src/Parser/Php.php#L37

Previous in version 1.x, it's evaluated to `PROJECT_ROOT/config` which is expected because of using `require $file;` implementation.

---

[2018-10-04 05:18] filips123 commented on #113
There could be two methods in the parser. One to read from file and one to read from string.

Quick example:

[code]

Also, it problem with this only in PHP files or it is also in other formats?

---

Maybe there could be check to remove only first and last line if there are `<?php`, `<?` or `?>`.

[2018-10-05 03:26] jfcherng commented on #113
@filips123

I guess PHP is the only special case.

LGTM if people do not load string like the following, at least I wont.

[code]

[2018-10-05 04:39] hassankhan commented on #113
@filips123 We should have two separate methods, `loadFile()` and `loadString()`, but other than that the example seems good 👍

[2018-10-08 16:58] filips123 commented on #113
I think that program should remove PHP tags with this conditions:

**Start tags (`<?php`, `<?`):**
Program should remove start tags only in blank lines in the beginning (until first non-blank line).

**End tags (`?>`):**
Program should remove end tags only in blank lines in the end (after last non-blank line).

---

**Blank line** is a line which only have PHP tag, spaces, tabs and comments.

Exam

[2018-10-08 20:27] hassankhan commented on #113
@filips123 Personally I'd stick with the simple approach as you outlined [above](https://github.com/hassankhan/config/issues/113#issuecomment-426888454), anything more would be extra complexity and would be outside the scope of this project (IMO).

/cc @DavidePastore thoughts?

[2018-10-09 06:15] jfcherng commented on #113
@hassankhan I found [an interesting way](https://www.reddit.com/r/PHP/comments/9mfetd/the_land_where_php_uses_eval/e7enugn) to utilize `eval()` without stripping PHP tags.

Simply prepend a `?>` to the string.

![image](https://user-images.githubusercontent.com/6594915/46650012-b1694300-cbcd-11e8-910d-1e92332a317f.png)

Thus, `$temp = eval('?>' . trim($config));` could be good enough. But better t

[2018-10-09 13:45] filips123 commented on #113
@jfcherng This is OK, but it will not work when string not contain `<?php`, because code will be interpreted as HTML.

[code]

[2018-10-09 13:59] jfcherng commented on #113
@filips123 In that case, if this repo were mine, I would define the input as either a string could be interpreted as PHP code, or a string that has no PHP tags, but not both. Just like `eval()` wont evaluate a string starting with `<?php`.

Or, just check whether `trim($config)` is starting with `<?` or not.
[code]

[2018-11-01 23:51] #35 closed, assigned to nobody

[2018-11-07 07:39] lphkxd opened #115 "parse中eval（code） 有bug"
我配置文件中用的是 $config['key'] = $val;

  Parser/Php.php 文件中 parse 方法的 eval（$config）造成字符串转数组失败。

[2018-11-09 11:16] hassankhan commented on #115
Hi, could you please post an example of the file that is causing the error and the stack trace showing the exact error?

[2018-11-12 08:43] 2pgcn commented on #115
[code]
@hassankhan  将文件$config修改为$configs就可以正常使用 版本2出现的 改成１后正常

[2018-11-12 08:50] 2pgcn commented on #115
![Uploading image.png…]()
修改名字之后可以正常使用

[2018-11-12 10:31] hassankhan commented on #115
Thanks for the stack trace, @php403, any chance you could post a sample config file as well?

[2018-11-15 16:11] filips123 commented on #115
It seems this is (another) issue with eval in PHP parser. This is probably fixed in #114.

[2018-11-15 16:24] #113 closed, assigned to nobody

[2018-11-15 16:25] hassankhan commented on #115
@lphkxd @php403 Could you please try again using the `develop` branch? #114 has been merged in and should hopefully fix the issues you were seeing

[2018-12-01 06:03] FanchangWang commented on #115
file: testConfig.php
[code]

file: eval.php
[code]

error message:
[code]

testConfig.php 中的 $config   与  function parse 中的 $config 有冲突

[2018-12-14 09:19] shykhy commented on #115
Hi guys I have gotten the same question like this.
config file:
![config](https://user-images.githubusercontent.com/30133081/49994210-d5794400-ffc3-11e8-9ddd-cad4ea2d8193.png)
The below is the error statement.
error statement:
`PHP Fatal error:  Uncaught Error: Cannot use string offset as an array in vendor/hassankhan/config/src/Parser/Php.php(37) : eval()'d code:10`

[2018-12-14 09:21] shykhy commented on #115
It's occurred on version 2.00. @hassankhan

[2018-12-14 09:22] FanchangWang commented on #115
SwooleDistributed？有啥交流群之类的分享一个吗

[2018-12-14 16:19] filips123 commented on #115
The problem is that variable `$config` is already initialized in parameter as string. The configuration file will than try to re-initialize it and fail it because `eval` executions can see and modify variables from the real file.

Solution may be to run `eval` in isolated environment, but `eval` doesn't support this. Maybe it could ran in separate method for this.

[2019-01-10 07:41] devnix commented on #39
It could be interesting to have something like Symfony, reading the .env file and filling variables.
For example:

[code]

[2019-01-16 00:38] Zyles opened #117 "Undefined class constant 'PARSE_CONSTANT'"
Ran a composer update and now my code is giving 500 error:

[code]

PHP 7.0.31
"hassankhan/config": "*"

[2019-01-16 01:12] Zyles commented on #117
I manually added symfony/yaml and it updated from 2.x to 3.x. Seems like composer didn't update the yaml parser version required?

[2019-01-19 19:12] DavidePastore commented on #117
Hi @Zyles , `symfony/yaml` is not a required dependency but a suggested one. You can see it [here](https://github.com/hassankhan/config/blob/develop/composer.json) and you can see the related notice [here](https://github.com/hassankhan/config#requirements).

[2019-01-23 11:47] #117 closed, assigned to nobody

[2019-01-25 15:15] filips123 commented on #115
@hassankhan I fixed this in #118. Can you check and merge it?

[2019-02-01 13:58] #115 closed, assigned to nobody

[2019-02-02 18:23] filips123 commented on #107
@DavidePastore @hassankhan I'm working on writing support in [my repository](https://github.com/filips123/config/tree/writing). Currently, the result of writing would be minified (for example one file for JSON). Is this OK or should the result be not minified?

[2019-02-03 13:25] jfcherng opened #119 "Composer Package is not updated"
https://packagist.org/packages/hassankhan/config is still on `2.0.0`.

[2019-02-03 13:36] filips123 commented on #119
@DavidePastore @hassankhan Yesterday I tried to publish the new version (2.0.1), but I had some issues. It looks like it was not published correctly. 😞 Can you fix this and let me know how should releases be published?

@jfcherng If you need bug fixes from the latest version, you can use `dev-develop` until release is added.

[2019-02-03 13:40] jfcherng commented on #119
Just a FYI, may be related.

The old github-packagist service has been deprecated. Github now uses webhook to trigger packagist to update the version. This is what I encountered months ago when I push a new tag to my own PHP package on Github.

[2019-02-03 14:58] DavidePastore commented on #119
@filips123 Unfortunately I can't configure the package in this sense (I don't have the rights to see the Settings tab). I'm sure @hassankhan can look into it.
Just a note to say: once you create a new release, please merge `develop` into `master`, so the `README.md` file and all the content of the repository is updated on the default branch.

[2019-02-03 15:02] DavidePastore commented on #107
@filips123 I would prefer to have the chance to choose (using configuration) if I want minified output or not.

[2019-02-28 19:49] jfcherng commented on #119
closed because I see `2.0.1` on packagist now :)

[2019-03-25 18:15] filips123 commented on #107
@DavidePastore I currently don't have much time, but I will continue implementing writing support next month. Problem is that I would have to change, add and rename methods in parsers and other classes so this would be breaking change and new major version (3.0.0). Is that OK? Would it be possible to do this without breaking changes?

[2019-04-06 18:36] filips123 commented on #119
@DavidePastore I created new release one hour ago but it is again not updated. Branches are also not updated. What's that? Maybe it takes some time to update?

[2019-04-10 13:12] filips123 commented on #119
Because the version is still not updated, I will reopen the issue.

[2019-04-15 19:16] DavidePastore commented on #119
@filips123 The last version is now available. Maybe we have to wait some hours. 😄  https://packagist.org/packages/hassankhan/config

[2019-04-15 19:18] filips123 commented on #119
@DavidePastore Not hours but days (or week)! 😃 What's this? Versions should be updated instantly.

[2019-04-15 19:22] DavidePastore commented on #119
@filips123 I agree with you. I don't know why it takes so much time. Maybe packagist is experiencing some issues.

[2019-04-15 19:25] filips123 commented on #119
@DavidePastore But other packages seems fine.

Maybe it is because of https://github.com/hassankhan/config/issues/119#issuecomment-460052547. Maybe this repo still uses service which is deprecated (or even removed) so versions aren't updated. But Packagist also maybe manually update versions each week it is now updated.

[2019-04-15 20:46] DavidePastore commented on #119
@hassankhan can you please look into it?

[2019-04-16 00:15] hassankhan commented on #119
Sorry guys, last time I checked the issue I thought it was resolved. I followed @jfcherng's instructions, please let me know if that fixes it.

[2019-05-19 17:26] filips123 commented on #119
I'm closing this issue. I will reopen it if needed.

[2019-05-19 17:26] #119 closed, assigned to nobody

[2019-05-26 17:27] DavidePastore commented on #107
@filips123 I think you can do it without breaking changes but by only adding new methods for the purpose. If you already have something in mind you can share it with us (cc @hassankhan ) so we could discuss about it. Anyway it could make sense to create a new major version for this kind of improvement.

[2019-05-26 17:29] filips123 commented on #107
@DavidePastore I created something in [my repository](https://github.com/filips123/config/tree/writing). However, those changes are old and I will need to rewrite them because of git conflicts with new updates.

[2019-05-26 17:41] DavidePastore commented on #107
@filips123 I like the idea behind it and the way you did it. The breaking change you were talking about before was the `parse`-> `decode` refactoring, right?

[2019-05-26 17:44] filips123 commented on #107
Thank you. I need to fix all git conflicts. I will then also provide support for writer configuration (https://github.com/hassankhan/config/issues/107#issuecomment-460059233).

Yes.

[2019-09-01 15:57] filips123 commented on #107
Fixed with #122 in [2.1.0](https://github.com/hassankhan/config/tree/2.1.0).

[2019-09-01 15:57] #107 closed, assigned to nobody

[2019-09-08 14:38] prwater opened #123 "Method offsetUnset does not remove key"
Method ```\Noodlehaus\AbstractConfig::offsetUnset``` (Deletes a key and its value) does not remove the key from the configuration but only set the value of the key to ```null```.

The following code:
[code]
yields the following output:
[code]

The key ```application``` is still in the configuration (with value ```null```).

Unit test ```\Noodlehaus\AbstractConfigTest\testRemove``` must use ```asse

[2019-09-08 16:06] filips123 commented on #123
Ok, I will try to create a fix.

[2019-09-09 20:48] filips123 commented on #123
There are a few possible solutions how to fix this:

1. Create `unset` method in `ConfigInterface` and implement it in `AbstractConfig` that calls PHP's `unset` on correct keys in `$this->data` and `$this->cache`. Then use the new method in `offsetUnset` method.
  Adventage of this is that it is "most correct code" and also allows developers to remove keys directly with available methods.
  The fi

[2019-09-15 11:51] DavidePastore commented on #123
@filips123 Sorry for the delay and thanks for your recap. I think that the best solution is the first one, even if it breaks the interface. We could add it as a new major release to be sure that developers have to upgrade their code to make it works.

[2020-10-17 13:50] TravisCarden opened #131 "XML Writer fails on XML content with attributes"
The XML writer doesn't work on XML that contains attributes. I discovered this trying to modify my `phpunit.xml`.

Here's a _passing_ test case with one of the project's own mocks:
[code]

Result:
[code]

Add an attribute to any element in the XML, and it will fail:

[code]

Result:
[code]

[2020-12-17 11:41] DavidePastore opened #132 "Fix "Use of undefined constant XDEBUG_CC_UNUSED - assumed 'XDEBUG_CC_UNUSED'" for PHP 7.3"
You can see the issue [on Travis](https://travis-ci.org/github/hassankhan/config/jobs/748157799).
Related to https://github.com/xdebug/xdebug/pull/699, https://github.com/sebastianbergmann/php-code-coverage/issues/838.
Possible fix: https://github.com/antistatique/trustedshops-php-sdk/pull/9

[2021-09-12 04:01] samsong opened #133 "Symfony errors trying to do basic instance"
Hi & thanks for your project!
Trying to install & create a basic test I did the composer install but get error when try basic test:

[code]

ERROR:

[code]

[2021-10-08 13:08] DavidePastore commented on #133
Hi @samsong. Thanks for using this library. If you want to read configuration from YAML files, you have to require the `symfony/yaml` dependency using the following command:

    composer require symfony/yaml

You can find this additional step in the [README.md file](https://github.com/hassankhan/config#requirements). Feel free to reopen the issue if you see that my fix doesn't work for you.

[2021-10-08 13:08] #133 closed, assigned to nobody

[2021-10-09 02:23] samsong opened #134 "handle blank .json files without throwing error"
code:

$conf = Config::load('config.json');

^ config.json is a blank file, empty.

result:
Fatal error:  Uncaught Noodlehaus\Exception\ParseException: Syntax error in config.json:15
Stack trace:
#0 \config-2.2.0\vendor\hassankhan\config\src\Parser\Json.php(29): Noodlehaus\Parser\Json->parse(NULL, 'config.json')
#1 \config-2.2.0\vendor\hassankhan\config\src\Config.php(114): Noodlehaus\Parser\Json-

[2021-12-29 14:01] DavidePastore opened #136 "Move to GitHub Actions"

[2021-12-30 14:16] #132 closed, assigned to DavidePastore

[2021-12-30 14:16] #136 closed, assigned to DavidePastore

[2021-12-30 14:17] DavidePastore opened #138 "Add PHP 8.0 in the GitHub Actions build matrix"

[2021-12-30 15:54] #138 closed, assigned to DavidePastore

[2021-12-30 15:54] DavidePastore opened #140 "Add PHP 8.1 in the GitHub Actions build matrix"

[2021-12-30 16:31] #140 closed, assigned to DavidePastore

[2022-02-11 02:27] shaukei opened #143 "support like $config->get('logger')->get('default.handler.class') ?"
Does the class library support the function like:
`$config->get('logger')->get('default.handler.class');`
If not, can add this feature?

[2022-02-12 21:46] risner commented on #134
If it isn't changed to add support for an empty, then how do we write an empty config file?

[2022-02-15 10:38] nbayramberdiyev opened #144 "Drop support for the end of life PHP versions"
PHP 5.x, 7.0, 7.1, 7.2, and 7.3 reached their end of life and are no longer supported. I suggest the minimum requirement for the project should be raised to PHP 7.4 at least.

If you agree, I'm happy to work on a PR.

[2022-02-17 09:12] shaukei opened #145 "Config method merge bug"
![image](https://user-images.githubusercontent.com/1581783/154454517-07618d4a-823d-4f18-a7d0-9d6e681b320e.png)

PR:
class AbstractConfig:
    public function merge(ConfigInterface $config)
    {
        $this->data = array_replace_recursive($this->data, $config->all());
+++   $this->cache = [];
        return $this;
    }

[2022-03-15 07:57] hatshnaagar opened #146 "Config"
Need a config file + uhq combos of a particular website

[2022-03-17 17:10] DavidePastore commented on #146
Hi @hatshnaagar. What do you mean? Is this issue related to this package?

[2022-03-26 19:17] DavidePastore commented on #145
Hi @shaukei. Thanks for reporting this.

[2022-03-26 19:31] #145 closed, assigned to nobody

[2022-03-26 19:43] DavidePastore commented on #144
Hi @nbayramberdiyev. I agree with you. Feel free to work on a PR for it.

[2022-03-26 19:54] DavidePastore commented on #134
Hi @samsong, thanks for opening the issue. I think that this one can be fixed on your side, ensuring that the file exists and creating it if it doesn't. @filips123, what do you think?

[2022-03-26 19:58] DavidePastore commented on #143
Hi @shaukei. It doesn't support this feature but you are free to create a PR for it. At the moment you can do something like this to achieve the same result:

    $config['logger']['default']['handler']['class'];

[2022-03-26 20:01] DavidePastore commented on #131
Hi, @[TravisCarden](https://github.com/TravisCarden). Thanks for opening this issue! I'll work on a fix.

[2022-03-26 20:04] DavidePastore commented on #78
Closing due inactivity.

[2022-03-26 20:04] #78 closed, assigned to nobody

[2022-03-26 20:27] risner commented on #134
Yea, I needed to write a blank json “{}” file. Just creating the file (touch filename) isn’t enough. Seems odd it doesn’t create the file if the app has permission. Seems it requires all apps to catch “file doesn’t exist” and create the blank json to try again?

[2022-04-24 12:23] #144 closed, assigned to nobody